.service-aside__button:not(.service-aside__button--active),
.service-aside__menu-element,
.service-aside__link,
.service__button:not(.service__button--active) {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none; }

.service-aside__button:not(.service-aside__button--active):hover,
.service-aside__menu-element:not(.service-aside__menu-element--active):hover,
.service-aside__link:hover,
.service__button:not(.service__button--active):hover {
  transform: scale(1.1);
  color: #41f6d7;
  transition: 0.3s; }

.service-aside {
  display: none;
  max-width: 320px;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px 0px #0e185033;
  flex-direction: column;
  color: #1b1c21;
  font-family: 'TTLakesMedium', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 10;
  width: 320px;
  padding: 24px;
  height: 100vh;
  -webkit-animation: slideIn 0.3s ease-in-out;
          animation: slideIn 0.3s ease-in-out;
  z-index: 6; }

.service-aside__header {
  display: flex;
  margin-bottom: 46px; }

.service-aside__header > .service-aside__button:first-child {
  margin-right: 16px; }

.service-aside__header > .service-aside__button:last-child {
  margin-left: 78px; }

.service-aside__menu {
  padding: 0; }

.service-aside__menu-element {
  margin-bottom: 32px;
  list-style: none; }

.service-aside__link {
  color: #1b1c21; }

.service-aside__contact-ways {
  padding-left: 0; }

.service-aside__button-catalogue {
  list-style: none; }

.service-aside__menu :last-child {
  margin-bottom: 0; }

.service-aside__menu-element--active {
  display: flex;
  align-items: center;
  color: #7e7e82;
  cursor: default; }

.service-aside__menu-element--active::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: #41f6d7;
  height: 32px;
  width: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.service-aside__button-catalogue {
  margin-right: 16px; }

.service-aside__contact-ways {
  display: flex;
  margin-bottom: 16px; }

.service-aside__phone {
  display: block;
  font-size: 24px;
  font-family: 'TTLakesBold', sans-serif;
  color: #1b1c21;
  text-decoration: none; }

.service-aside__email {
  display: block;
  margin-bottom: 12px;
  color: #1b1c21;
  text-decoration: none; }

.lang {
  display: flex;
  margin-top: 14.7%; }

.lang .service__button {
  font-size: 16px;
  text-transform: uppercase; }

.lang .lang__button-catalogue {
  margin-left: 7px;
  list-style: none; }

.lang {
  padding: 0; }

.lang .lang__button-catalogue:first-child {
  margin-left: 0; }

.service__button--active {
  color: #7e7e82; }

.service-aside__footer {
  margin-top: auto;
  font-size: 16px; }

.container {
  display: block;
  width: 100%; }

.service-aside--active {
  display: flex !important; }

.closing {
  -webkit-animation: slideOut 0.3s ease-in-out forwards;
          animation: slideOut 0.3s ease-in-out forwards; }

.blur {
  display: none; }

.blur--active {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 1000vh;
  opacity: 96.05%;
  display: block;
  z-index: 4; }

.blur--dominate {
  z-index: 9; }

@media (min-width: 1120px) {
  #close {
    display: none; }
  #search {
    margin-left: auto; }
  .service-aside {
    position: fixed;
    display: flex; }
  .container {
    display: flex;
    height: 100%; } }

@-webkit-keyframes slideIn {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes slideIn {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@-webkit-keyframes slideOut {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

@keyframes slideOut {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-100%); } }

.brands {
  background-color: #f8f8f8; }

.brands {
  overflow: hidden; }

.section-title {
  padding: 0;
  margin: 0; }

.swiper-wrapper {
  padding-left: 0; }

.swiper-brands {
  width: 100%;
  margin-left: 5%;
  margin-top: 16px; }

.brands__header {
  position: relative;
  padding: 16px;
  padding-left: 5%;
  background: linear-gradient(90deg, #f8f8f8, #ffffff);
  width: 100%; }

.brands__header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 1px;
  width: 100vw;
  left: 0;
  background-color: #d9fff5; }

.section-title {
  font-family: 'TTLakesRegular', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #7e7e82;
  word-break: normal; }

.brands__brand-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  width: 240px;
  height: 72px;
  -webkit-animation: fadeIn 1s alternate;
          animation: fadeIn 1s alternate; }

.brands__go-button {
  transition: 0.3s;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px; }

.brands__go-button:hover {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  background-color: #b5b6bc; }

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px; }

.brands__show-all {
  margin-top: 20px;
  color: #1b1c21;
  border: none;
  background-color: transparent;
  font-family: 'TTLakesMedium', sans-serif;
  font-size: 16px;
  margin-left: calc(5% + 33px);
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 50px; }

.brands__show-all:hover {
  transform: scale(1.1);
  color: #41f6d7;
  cursor: pointer; }

.brands__show-all::before {
  content: '';
  transition: 1s;
  background-image: url(./static/show-more.svg);
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: -33px;
  top: 0; }

.swiper-brands__swiper-pagination {
  margin-left: 20%; }

.brands__show-all--active::before {
  transform: rotate(180deg);
  transition: 1s; }

.swiper-slide {
  width: 224px;
  list-style: none;
  display: block; }

.hidden {
  display: none; }

.visible {
  display: block !important; }

@media (max-width: 768px) {
  .brands__show-all {
    display: none; } }

@media (min-width: 1120px) {
  .brands {
    margin-left: 320px; } }

@media (min-width: 767px) {
  .swiper-brands {
    width: 93.7%;
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
    margin-top: 24px;
    margin-left: 5%;
    margin-right: 5%; }
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 16px; }
  .swiper-brands__swiper-pagination {
    display: none; } }

@media (min-width: 767px) and (max-width: 1120px) {
  .grid-hidden {
    display: none; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

@keyframes fadeIn {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

.call {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  max-width: 440px;
  font-family: 'TTLakesMedium';
  font-size: 24px;
  color: #1b1c21;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px 0px #0e185033;
  height: 100vh;
  z-index: 10;
  -webkit-animation: slideFromRight 0.3s ease-in-out;
          animation: slideFromRight 0.3s ease-in-out; }

.call-closing {
  -webkit-animation: slideToRight 0.3s ease-in-out forwards;
          animation: slideToRight 0.3s ease-in-out forwards; }

.call--active {
  display: flex; }

#call-close {
  margin-top: 24px;
  margin-left: 5%;
  width: 24px;
  height: 24px;
  transition: 0.3s; }

#call-close:hover {
  transform: scale(1.1);
  cursor: pointer; }

.call__title {
  margin-left: 5%; }

.call__title::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }

@media (min-width: 1120px) {
  #call-close {
    position: absolute;
    margin-left: 0;
    left: -54px; } }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf); }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf); }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf); }

@font-face {
  font-family: 'TTLakesThin';
  src: url(./fonts/TTLakes-Thin.ttf); }

.footer {
  position: relative;
  display: flex;
  justify-content: space-between; }

.footer::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d9fff5;
  position: absolute; }

.footer__element {
  margin-top: 32px;
  max-width: 330px;
  color: #7e7e82;
  font-family: 'TTLakesRegular';
  text-decoration: none; }

.footer__element[href]:hover {
  text-decoration: underline; }

@media (min-width: 1120px) {
  .footer {
    margin-left: 320px; } }

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center; }
  .footer__element {
    margin: auto;
    margin-top: 16px; } }

@media (min-width: 768px) {
  .footer__element:first-child {
    margin-left: 5%; }
  .footer__element:last-child {
    margin-right: 5%; } }

.price {
  overflow: hidden; }

.price__header {
  position: relative;
  padding: 16px;
  padding-left: 5%;
  background: linear-gradient(90deg, #f8f8f8, #ffffff);
  width: 100%;
  margin-bottom: 24px; }

.swiper-price {
  margin-left: 5%;
  font-family: 'TTLakesRegular';
  font-size: 14px; }

.swiper-price__button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  transition: 0.3s; }

.swiper-price__title {
  margin: 0;
  color: #7e7e82;
  opacity: 72.18%; }

.swiper-price__description {
  display: block;
  color: #1b1c21;
  margin-bottom: 16px; }

.swiper-price__card {
  position: relative;
  width: 260px;
  height: 200px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box; }

.price__header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 1px;
  width: 100vw;
  left: 0;
  background-color: #d9fff5; }

.swiper-price__swiper-pagination {
  margin-left: 25%; }

.swiper-price__button:hover {
  transform: rotate(180deg);
  cursor: pointer; }

.swiper-price__button-text {
  display: none; }

.price__subdescription {
  max-width: 421px;
  margin-left: 5%;
  font-family: 'TTLakesRegular';
  color: #1b1c21;
  font-size: 14px;
  margin-top: 24px; }

.price__get-offer {
  display: inline-block;
  position: relative;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  margin-left: 5%;
  color: #1b1c21;
  text-decoration: none;
  padding-bottom: 47px;
  transition: 0.3s; }

.price__get-offer:hover {
  text-decoration: underline;
  transform: scale(1.05); }

.price__get-offer::after {
  content: '';
  height: 24px;
  width: 24px;
  display: block;
  background-image: url(./static/more.svg);
  position: absolute;
  right: -24px;
  top: 0; }

.swiper-price__uptitles {
  display: grid;
  grid-template-columns: 46% auto auto;
  color: #7e7e82;
  width: 93.75%; }

@media (min-width: 1120px) {
  .price {
    margin-left: 320px; } }

@media (min-width: 768px) {
  .swiper-price__title {
    display: none; }
  .swiper-price__swiper-pagination {
    display: none; }
  .swiper-price__swiper-wrapper {
    display: flex;
    gap: 0 0;
    flex-direction: column;
    border-radius: 12px; }
  .swiper-price__button:hover {
    transform: scale(1.1);
    cursor: pointer; }
  .swiper-price__card {
    display: grid;
    font-family: 'TTLakesRegular';
    font-size: 14px;
    grid-template-columns: 46% auto auto;
    border-radius: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    height: 64px;
    width: 93.75%;
    position: relative; }
  .swiper-price__button-text {
    display: block;
    position: relative;
    color: #ffffff;
    font-family: 'TTLakesBold';
    font-size: 12px;
    text-transform: uppercase;
    text-align: left; }
  .swiper-price__button-text::after {
    content: '';
    background-image: url(./static/goside.svg);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: -4px; }
  .swiper-price__card:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; }
  .swiper-price__card:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; }
  .swiper-price__button {
    box-sizing: border-box;
    background-color: #ff3e79;
    padding-left: 12px;
    padding-right: 12px;
    height: 32px;
    width: 119px;
    border-radius: 25px; }
  .swiper-price__button-image {
    display: none; }
  .swiper-price__card::after {
    content: '';
    background-color: #eaeaea;
    display: block;
    position: absolute;
    height: 1px;
    width: 95%;
    bottom: 0;
    left: 16px; }
  .swiper-price__card:last-child::after {
    display: none; } }

@media (max-width: 768px) {
  .swiper-price__uptitles {
    display: none; } }

.repair {
  box-sizing: border-box;
  overflow: hidden;
  color: #1b1c21;
  font-family: 'TTLakesMedium', sans-serif;
  font-size: 16px; }

.repair__header {
  position: relative;
  padding: 16px;
  padding-left: 5%;
  background: linear-gradient(90deg, #f8f8f8, #ffffff);
  width: 100%;
  margin-bottom: 24px; }

.repair__header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 1px;
  width: 100vw;
  left: 0;
  background-color: #d9fff5; }

.repair__card {
  display: flex;
  width: 240px;
  height: 160px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-animation: fadeIn 1s alternate;
          animation: fadeIn 1s alternate; }

.repair__card-description {
  margin-left: 16px;
  margin-top: 16px; }

.swiper-repair {
  margin-left: 5%;
  margin-top: 16px; }

.repair__card-button {
  margin-top: 104px;
  margin-left: auto;
  margin-right: 16px;
  transition: 0.3s; }

.repair__card-button:hover {
  cursor: pointer; }

.swiper-repair__swiper-pagination {
  margin-left: 25%; }

.repair__show-all {
  margin-top: 20px;
  color: #1b1c21;
  border: none;
  background-color: transparent;
  font-family: 'TTLakesMedium', sans-serif;
  font-size: 16px;
  margin-left: calc(5% + 33px);
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 50px; }

.repair__show-all:hover {
  transform: scale(1.1);
  color: #41f6d7;
  cursor: pointer; }

.repair__show-all::before {
  content: '';
  transition: 1s;
  background-image: url(./static/show-more.svg);
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: -33px;
  top: 0; }

.repair__show-all--active::before {
  transform: rotate(180deg);
  transition: 1s; }

@media (min-width: 768px) {
  .repair-hidden {
    display: none; }
  .swiper-repair__swiper-pagination {
    display: none; } }

@media (min-width: 1120px) {
  .repair {
    margin-left: 320px; } }

@media (max-width: 768px) {
  .repair__show-all {
    display: none; } }

.send {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  flex-direction: column;
  max-width: 440px;
  font-family: 'TTLakesMedium';
  font-size: 24px;
  color: #1b1c21;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px 0px #0e185033;
  height: 100vh;
  z-index: 10;
  -webkit-animation: slideFromRight 0.3s ease-in-out;
          animation: slideFromRight 0.3s ease-in-out; }

.send--active {
  display: flex; }

.form {
  display: flex;
  flex-direction: column; }

.send__title {
  margin-left: 5%; }

.send__title::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }

.form__description {
  margin-left: 5%;
  color: #7e7e82;
  font-size: 14px; }

.form__input {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 16px;
  height: 48px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 16px;
  border: 1px solid #eaeaea;
  font-size: 16px;
  font-family: 'TTLakesRegular';
  border-radius: 12px; }

.form__link {
  color: #ff3e79;
  text-decoration: none; }

.form__link:hover {
  text-decoration: underline; }

.form__textarea {
  height: 118px;
  padding-top: 12px;
  margin-bottom: 19px; }

#send-close {
  margin-top: 24px;
  margin-left: 5%;
  width: 24px;
  height: 24px;
  transition: 0.3s; }

#send-close:hover {
  transform: scale(1.1);
  cursor: pointer; }

.form__submit::after {
  content: '';
  background-image: url(./static/goside.svg);
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 5px;
  top: 3px; }

.form__submit {
  box-sizing: border-box;
  position: relative;
  background-color: #ff3e79;
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  width: 136px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 24px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'TTLakesBold';
  font-size: 12px;
  text-align: left; }

.send-closing {
  -webkit-animation: slideToRight 0.3s ease-in-out forwards;
          animation: slideToRight 0.3s ease-in-out forwards; }

@media (min-width: 1120px) {
  .send {
    margin-left: 320px; }
  #send-close {
    position: absolute;
    margin-left: 0;
    left: -54px; } }

@-webkit-keyframes slideFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideFromRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@-webkit-keyframes slideToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

@keyframes slideToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(120%); } }

button {
  padding: 0;
  background-color: transparent;
  border: none; }

.service-header__button,
.service-main__button,
.service-info__read-next {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none; }

.service-header__button:hover,
.service-main__button:hover,
.service-info__read-next:hover {
  transform: scale(1.1);
  color: #41f6d7;
  transition: 0.3s; }

body {
  margin: 0;
  background-color: #f8f8f8; }

.service-header__left,
.service-header__right {
  display: flex;
  gap: 10px; }

.service-header {
  display: flex;
  margin: 0 5px;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
  background-color: #fff;
  padding: 0 5%; }

.service-header__button {
  max-height: 50px;
  margin: auto 0; }

.service-main {
  padding-top: 24px;
  width: 100%; }

.service-main__title {
  font-family: 'TTLakesBold', sans-serif;
  font-size: 28px;
  height: 40px;
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-left: 5%; }

.service-main__flex-container {
  margin-bottom: 24px; }

.service-main__title::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; }

.service-main__nav {
  display: flex;
  margin-left: 5%;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap; }

.service-main__nav::-webkit-scrollbar {
  display: none; }

.service-main__button {
  font-family: 'TTLakesMedium', sans-serif;
  font-size: 16px;
  border: none;
  background: transparent;
  color: #7e7e82;
  padding: 0 16px;
  padding-top: 7px;
  padding-bottom: 7px; }

.service-main__button_active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px; }

.service-main__button_active:hover {
  color: #7e7e82;
  transform: scale(1);
  cursor: default; }

.service-info__text {
  font-family: 'TTLakesRegular', sans-serif;
  color: #1b1c21;
  font-size: 14px;
  margin-left: 5%;
  height: 100px;
  overflow: hidden;
  transition: 1s; }

.service-info__text--active {
  height: auto; }

.service-info__read-next--active::before {
  transform: rotate(180deg); }

.service-info__read-next {
  display: flex;
  width: 200px;
  align-items: center;
  color: #1b1c21;
  height: 24px;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: 1s; }

.service-info__read-next::before {
  content: '';
  margin-left: 5%;
  margin-right: 8px;
  display: inline-block;
  background-image: url("/src/img/show-more.svg");
  height: 24px;
  width: 24px;
  transition: 1s; }

.service-info__image {
  width: 100%;
  padding-bottom: 51px; }

/*MOBILE Ver*/
@media (max-width: 767px) {
  .mobile-hidden {
    display: none; }
  .service-info__read-next {
    margin-left: 5%; }
  .service-header {
    display: flex;
    position: relative; }
  .logo {
    margin-left: 5px; }
  .service-header__left::before {
    content: '';
    background: #eaeaea;
    width: 2px;
    height: 32px;
    position: relative;
    left: 190px;
    top: 30px; }
  .service-header__right {
    flex: 1;
    justify-content: flex-end; }
  .service-main__nav {
    display: flex;
    margin: 0;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap; }
  .service-main__nav::after {
    content: '';
    display: block;
    position: fixed;
    height: 81px;
    width: 24px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    transform: rotate(180deg); }
  .service-main__nav::before {
    content: '';
    display: block;
    position: fixed;
    height: 81px;
    width: 24px;
    right: -17px;
    z-index: 2;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    transform: rotate(180deg); } }

/*TABLET Ver*/
@media (min-width: 768px) and (max-width: 1120px) {
  .tablet-hidden {
    display: none; }
  .mobile-hidden {
    position: relative;
    top: 25%; }
  .mobile-hidden::after {
    content: '';
    background: #eaeaea;
    width: 2px;
    height: 32px;
    position: absolute;
    right: -5px;
    top: 5px; } }

@media (min-width: 768px) {
  .service-header .logo {
    margin-right: 32.55%; }
  .service-info {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 93.7%; }
  .service-info__image {
    border-radius: 5px;
    width: 50%;
    height: 100%;
    margin-left: 6.25%; }
  .service-info__text {
    margin: 0; }
  .service-info__read-next::before {
    margin-left: 0; }
  .logo {
    margin-left: 5px; }
  .service-header__left {
    flex: 1; }
  .service-header__left::after {
    content: '';
    background: #eaeaea;
    width: 2px;
    height: 32px;
    position: relative;
    top: 30px;
    right: 120px; }
  .service-header__right {
    flex: 1;
    justify-content: flex-end; }
  .service-main__nav {
    display: flex;
    margin: 0;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap; }
  .service-main__nav::after {
    content: '';
    display: block;
    position: fixed;
    height: 81px;
    width: 24px;
    left: 0px;
    z-index: 2;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    transform: rotate(180deg); }
  .service-main__nav::before {
    content: '';
    display: block;
    position: fixed;
    height: 81px;
    width: 24px;
    right: -17px;
    z-index: 2;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    transform: rotate(180deg); } }

/*DESKTOP Ver*/
@media (min-width: 1120px) {
  .service-header {
    visibility: hidden;
    position: relative;
    height: 0;
    transition: 0; }
  .service-header {
    box-shadow: none; }
  .service {
    margin-left: 320px; }
  .service-header__button:not(.service-header__button_desktop) img {
    visibility: hidden; }
  .service-header__button_desktop {
    visibility: visible;
    display: flex;
    align-items: center;
    position: relative;
    color: #1b1c21;
    font-family: 'TTLakesMedium';
    font-size: 16px;
    right: 5%;
    top: 42px;
    transition: 0.3s; }
  .service-header__button {
    flex: 1;
    gap: 10px;
    justify-content: space-between;
    justify-content: flex-end; }
  .service-header__button_label {
    margin-right: 8px; }
  .service-main__nav {
    overflow: visible;
    flex-wrap: wrap; }
  .service-main {
    padding-top: 42px; }
  .service-main__flex-container {
    display: flex;
    align-items: center; }
  .service-info__image {
    height: 307px;
    width: 531px; }
  .repaiir {
    display: inline-flex;
    white-space: nowrap; }
  .statuus {
    display: inline-flex;
    white-space: nowrap;
    left: 20px; }
  .service-main__title::before {
    left: 320px; } }


/*# sourceMappingURL=style.css.map*/